<!DOCTYPE html>
<html>
<head>
  <title>DataSuppliers</title>
</head>
  <body>
    <h1>List Suppliers</h1>
    <a href="/suppliers/add"><button>Add</button></a>
    <table border='2px'>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name </th>
          <th class="text-center">Kota </th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <%dataSuppliers.forEach( rows => { %>
          <tr>
            <td class="text-center"><%=rows.id%></td>
            <td class="text-center"><%=rows.nama%></td>
            <td class="text-center"><%=rows.kota%></td>
            <td class="text-center">
              <a href="/suppliers/edit/<%=rows.id%>"><button class="text-center">Edit</button></a>
              <a href="/suppliers/delete/<%=rows.id%>"><button class="text-center">Delete</button></a>
            </td>
          </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>
